<div class="row">
  <div class="col-1"></div>
  <div class="col-10"> <input class="form-control" type="text" name="cityName" placeholder="Enter City Name" [(ngModel)]="city">

</div>

  <div class="col-1"><img class="searchBtn" src="../assets/search.png" alt="Search" (click)="getweather()"></div>


</div>
<div class="container">

  <div class="upper-data">
    <video *ngIf=" getImageUrl['video']!=undefined "  [src]="getImageUrl['video']" type="video/mp4/gif"  [muted]="true" autoplay loop  ></video>

    <img *ngIf=" getImageUrl['img']!=undefined " [src]=" getImageUrl['img']" alt="Photo">

    <div class="loctaion">
      {{weatherData['name']}}
    </div>

    <div class="weather-data">

      <div class="temperature">{{tempMain}}

      </div>

      </div>
      <div class="bottom"> {{temp_m_f}}</div>
  </div>
  <div class="lower-data">
    <div class="more-info-lebel">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-lebel">
          <img src="../assets/temperature.png" alt="cool icon">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{temp_min}}<span>&#176;</span>C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-lebel">
          <img src="../assets/hot.png" alt="cool icon">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{temp_max}}<span>&#176;</span>C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-lebel">
          <img src="../assets/storm.png" alt="cool icon">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{humidity}}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-lebel">
          <img src="../assets/wind.png" alt="cool icon">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{wind}} km/h
        </div>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
